In [59]:
import os
import csv
import pandas as pd
import numpy as np

In [60]:
csvpath=("budget_data.csv")

In [61]:
budget_df=pd.read_csv(csvpath)
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [64]:
total_months=budget_df["Date"].count()
sum_p_l=budget_df["Profit/Losses"].sum()

38382578

In [92]:
AmtChange = budget_df["Profit/Losses"].diff()
budget_df["Amount Changed"] = AmtChange

sum_change=budget_df["Amount Changed"].sum()
sum_months=total_months-1
avg_change=sum_change/sum_months
budget_df.head()

       Date  Profit/Losses  Amount Changed
0  Jan-2010         867884             NaN
1  Feb-2010         984655        116771.0
2  Mar-2010         322013       -662642.0
3  Apr-2010         -69417       -391430.0
4  May-2010         310503        379920.0

In [86]:
greatest_increase=budget_df["Amount Changed"].max()

In [87]:
greatest_decrease=budget_df["Amount Changed"].min()

In [119]:
greatest_dec_month=budget_df.loc[budget_df["Amount Changed"]==greatest_decrease,["Date"]]
great_dec=greatest_dec_month["Date"].values[0]

In [120]:
greatest_inc_month=budget_df.loc[budget_df["Amount Changed"]==greatest_increase,["Date"]]
great_inc=greatest_inc_month["Date"].values[0]

In [128]:
output = (
    f"\nFinancial Analysis\n"
    f"----------------------------\n"
    f"Total Months: {total_months}\n"
    f"Total: ${sum_p_l}\n"
    f"Average  Change: ${avg_change}\n"
    f"Greatest Increase in Profits: {great_inc} (${greatest_increase})\n"
    f"Greatest Decrease in Profits: {great_dec} (${greatest_decrease})\n")

In [129]:
print(output)

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.1176470588234
Greatest Increase in Profits: Feb-2012 ($1926159.0)
Greatest Decrease in Profits: Sep-2013 ($-2196167.0)