In [1]:
import pandas as pd
import numpy as np

In [2]:
csvfile="election_data.csv"
election_data=pd.read_csv(csvfile)

In [3]:
election_data.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
total_votes=election_data["Voter ID"].count()
total_votes

3521001

In [5]:
candidates=election_data.Candidate.unique().tolist()
candidates

['Khan', 'Correy', 'Li', "O'Tooley"]

In [22]:
total_votes_each=election_data.groupby("Candidate").count()
df_new=total_votes_each.rename(columns={"Voter ID": "Total_Votes"}).drop(columns=["County"])
df_new["Percentage"]=(df_new["Total_Votes"]/total_votes)*100
df_sorted=df_new.sort_values(["Total_Votes"], ascending=False).reset_index().round()
df_sorted.head()

  Candidate  Total_Votes  Percentage
0      Khan      2218231        63.0
1    Correy       704200        20.0
2        Li       492940        14.0
3  O'Tooley       105630         3.0

In [25]:
output = (
    f"\nElection Results\n"
    f"----------------------------\n"
    f"Total Votes: {total_votes}\n"
    f"----------------------------\n"
    f"{df_sorted.Candidate[0]}: {df_sorted.Percentage[0]}% ({df_sorted.Total_Votes[0]})\n"
    f"{df_sorted.Candidate[1]}: {df_sorted.Percentage[1]}% ({df_sorted.Total_Votes[1]})\n"
    f"{df_sorted.Candidate[2]}: {df_sorted.Percentage[2]}% ({df_sorted.Total_Votes[2]})\n"
    f"{df_sorted.Candidate[3]}: {df_sorted.Percentage[3]}% ({df_sorted.Total_Votes[3]})\n"
    f"----------------------------\n"
    f"Winner: {df_sorted.Candidate[0]}")

In [26]:
print(output)

Election Results
----------------------------
Total Votes: 3521001
----------------------------
Khan: 63.0% (2218231)
Correy: 20.0% (704200)
Li: 14.0% (492940)
O'Tooley: 3.0% (105630)
----------------------------
Winner: Khan